<% if message.user == current_user %>
  <div class="message-data">
    <%= image_tag avatar_for(message.user), class: "avatar" %>
    <div class="message-data-body">
      <div class="message-data-header">
        <span class="message-data-name ml-3 mr-3"><%= message.user.first_name%></span>
        <span class="message-data-time"><%= message.message_time %></span>
      </div>
      <div class="message-data-content my-message">
        <%= message.content %>
      </div>
    </div>
    <br/>
  </div>
  <br>
<% else %>
  <div class="message-data">
    <div class="message-data-body">
      <div class="message-data-header justify-content-end">
        <span class="message-data-time mr-3"><%= message.message_time %></span>
        <span class="message-data-name mr-3"><%= message.user.first_name%></span>
      </div>
      <div class="message-data-content other-message">
        <%= message.content %>
      </div>
    </div>
    <%= image_tag avatar_for(message.user), class: "avatar" %>
    <br/>
  </div>
  <br>
<% end %>
