<% @conversations.each do |conversation| %>
    <% @other = current_user == conversation.sender ? conversation.recipient : conversation.sender %>
    <%= link_to conversation_messages_path(conversation) do %>

        <div class="message-data">
          <%= image_tag avatar_for(@other), class: "avatar-medium" %>
          <div class="message-data-body">
            <div class="message-data-header">
              <span class="message-data-name ml-3 mr-3">From <%= @other.first_name + " " + @other.last_name.first %></span>
              <span class="message-data-time"><%= conversation.messages.last.message_time %></span>
            </div>
            <div class="message-data-content my-message">
              <%= conversation.messages.last.content %>
            </div>
          </div>
          <br/>
          <div class="conversation-actions">
            <%= link_to conversation_messages_path(conversation) do %>
              Read <i class="fas fa-pencil-alt"></i>
            <% end %>
          </div>
        </div>
        <br>

    <% end %>
<% end %>
