<div class="container">
  <div class="row d-flex flex-row-reverse justify-content-center">
    <div class="col-12 col-md-8 mb-3 mt-3">

      <div class="wall-card text-center mb-3">
        <%= image_tag avatar_for(@user), class: 'avatar' %>
        <h3 class="mt-3 blue"><%= @user.first_name %></h3>
        <p><%= @user.email %></p>
        <% if @user == current_user %>
          <%= link_to edit_user_registration_path do%>
            <h3>Edit profile <i class="fas fa-pen"></i></h3>
          <% end %>
        <% end %>
      </div>
      <div class="wall-card text-center">
        <p>Describe yourself to the community</p>
      </div>

    </div>

    <div class="col-xs-12 col-md-4">
      <div class="wall-card">
        <h3>Profile Check</h3>
        <ul class="unstyled">
          <% if @user.email %>
            <li><i class="far fa-check-circle green"></i>
          Email address</li>
          <% end %>
            <li><i class="far fa-check-circle green"></i></i>
          Phone number</li>
          <li><i class="far fa-circle"></i>
          Compliance</li>
          <li><i class="far fa-circle"></i>
          Fit to work</li>
        </ul>
        <br>
        <% if current_user && current_user != @user %>
          <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, class: "btn btn-signup" %>
        <% end %>
      </div>
    </div>

  </div>
</div>
